h1 Замовлення

//- p #[strong від] #{req.body.name}
//- p #[strong Телефон]: #{req.body.name}
//- p #[strong Почтова скринька]: #{req.body.email}
//- p #[strong Товар]: #{req.body.item}
//- p #[strong VIN]: #{req.body.vin}


input(type="text", name="name")